.calculator {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #333; /* Dark background color */
  color: #fff; /* Text color */
}

.display {
  margin-bottom: 10px;
  text-align: right;
}

.expression {
  font-size: 24px; /* Adjust font size */
  padding: 10px; /* Add padding */
  background-color: #444; /* Darker background color */
  color: #fff; /* Text color */
  border-radius: 5px; /* Add border radius for rounded corners */
  text-align: right; /* Align text to the right */
  overflow: hidden; /* Hide overflowing content */
  word-wrap: break-word; /* Wrap long words within the box */
  height: 2rem;
  display: grid;
  align-items: center;
}

.result {
  font-size: 36px;
  font-weight: bold;
  padding: 10px;
  background-color: #555;
  color: #fff;
  height: 3rem;
  display: grid;
  align-items: center;
  border-radius: 5px;
  text-align: right;
  overflow: hidden; /* Hide overflowing content */
  word-wrap: break-word; /* Wrap long words within the box */
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

button {
  font-size: 24px;
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  background-color: #444; /* Button background color */
  color: #fff; /* Button text color */
}

button:hover {
  background-color: #555; /* Button hover background color */
}
/* Add styles for focused buttons */
button:focus {
  outline: 2px solid #fff;
}
